body{
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}

h3 {
  border-style: double;
  background-color: #FAFAD2;
}

p {
  color: gray;
}

div {
  border-top: 4px solid;
  border-color: black;
  background-color: lightyellow;
}

ul {
  text-align: center;
  list-style-position: inside;
}

ul {
  text-align: center;
  list-style-position: inside;
}

a:link, a:visited {
  background-color: #E9E6A7;
  color: black;
  border-style: solid;
  border-width: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}
