body{
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}

h3 {
  border-style: double;
  background-color: lightgoldenrodyellow;
}

p {
  color: gray;
}

div {
  border-top: 4px solid;
  border-color: black;
  background-color: lightyellow;
}

ul {
  text-align: center;
  list-style-position: inside;
}
